/*  your css code here. If applicable */
body{
	background-color: rgb(204, 204, 204)
}
h1{
	text-align:center;
}
#divi1{
	border:2px solid black;
	border-radius:10px;
	height:200px;
	background-color:white;
	margin-inline:20px;
	
}
ul>li{
	list-style-type: none;
}
ul>li>a{
	text-decoration-line:none;
	color:black;
	text:bold;
}

.container{
	border: 2px solid black;
	border-radius:10px;
	margin-inline:100px;
	height:auto;
	width:600px;
	margin-top: 10px;
	
	
	
}
h2{
	text-align:center;
}
	
